body{
    padding: 0%;
    margin: 0%;
    background-color: whitesmoke;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.allplanslink{
    color: black;
}

.allplanslink:hover{
    text-decoration: none;
    color: #555;
}

.carousel{
        left: 0px;
        top: 0px;
        z-index: -1;
}

.nav-link, .dropdown-item{
    font-size: 18px !important;
    transition: all 0.3s;
    color: whitesmoke !important;
}
.nav-link:hover, .dropdown-item:hover{
    color: #7ce4b2 !important;
    transform: scale(1.1);
    text-decoration: overline !important;
    background-color: transparent;
}

.dropend:hover > .dropdown-menu {
    display: block;
}

.sec-title{
    font-weight: bolder;
    font-size: x-large;
    margin: 50px;
}

.arow{
    margin: 2px;
    margin-top: 20px;
}

.SomePlans, .AllPlans{
    background-color: whitesmoke;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.plancard{
    height: 500px;
    padding: 10px;
    transition: all 0.3s;
}

.plancard:hover{
    box-shadow: #1d7af3 0px 5px 15px 0px;
    transform: scale(1.03);
}

.flip-card {
    background-color: transparent;
    margin-bottom: 50px;
    padding: 10px;
    perspective: 1000px;
}
  
.flip-card-inner {
    position: relative;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    backface-visibility: hidden;
    height: 450px;
    padding: 10px;
}
  
.flip-card-front {
    position: absolute;
    background-color: transparent;
    color: black;
}
  
.flip-card-back {
    position: relative;
    background-color: transparent;
    color: black;
    transform: rotateY(180deg);
}

.infop1, .infop2 {
    width: 100%;
    margin-bottom: 5px;
    height: 25px;
}

.info1, .info2{
    float: left;
    vertical-align: middle;
    width: 50%;
}

.info3, .info4{
    float: left;
    vertical-align: middle;
    width: 50%;
}

.imgpart, .infopart {
    float: left;
}

.imgpart{
    margin-right: 15px;
    vertical-align: middle;
}

.palnheading{
    font-weight: bolder;
}

.stayinfo{
    font-weight: bold;
    height: 30px;
}

.planinfo{
    font-weight: lighter;
    height: 110px;
}

input, textarea{
    transition: all 0.3s;
    outline: 1px solid #1d7af3;
}

textarea {
    resize: none;
}

input:hover, textarea:hover {
    box-shadow: #1d7af3 2px;
}

.fab{
    transition: all 0.3s;
    margin: 0 20px 0 20px;
    color: whitesmoke;
    scale: 1.5;
}

.fab:hover{
    transform: rotate(360deg);
    text-decoration: none;
}

.infous{
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Geneva, Tahoma, sans-serif;
}